body {
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #40e0d0;
  padding: auto 20px;
}

.logo img{
    height: auto;
    width:80px;
    background: transparent;
    margin-right: -20px;
}


.hero-section{
    height: 50rem;
    background-color: #afeeee;
}

nav{
    position: sticky;
        top: 0;
        height: 5rem;   
    background-color: #40e0d0;
    width: 100%;
}